body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color:#fff;
    font-size:1.1em;
    line-height: 1.5;
    text-align: center;
}
img {
    display:block;
    width:100%;
    height: auto;
}

h1,
h2,
h3,
p {
    margin:0;
    padding:1em 0;
}

.btn {
    display:inline-block;
    background:#333;
    color:#fff;
    text-decoration: none;
    border:1px solid #666;
    padding:1em 2em;
    margin:0.5em 0;
}

.btn:hover {
    background: #ebebeb;
    color:#333;
}
/*Fejléc*/
#hero {
    min-height:480px;
    color:#fff;
    text-align: center;
}

#hero .bg-image {
    position: absolute;
    background: #333 url('https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?cs=srgb&dl=grayscale-photo-of-computer-laptop-near-white-notebook-and-169573.jpg&fm=jpg') center center no-repeat;
    background-size: cover;
    width:100%;
    height:480px;
    z-index: -1;
    opacity: 0.35;
}
#hero h1 {
    padding-top: 100px;
    padding-bottom: 0;
}
.content-wrap {
    padding:0 1.5em;
}

/*section-a*/
#section-a {
    background: #ebebeb;
    color:#333;
    padding-bottom:2em;
}

/*section-b*/
#section-b {
    padding: 2em 1em 1em;
}

#section-b ul,
#section-d ul{
    list-style: none;
    margin:0;
    padding:0;
}
#section-b li {
    margin-bottom:1em;
    background: #ebebeb;
    color:#333;
}
.card-content{
    padding:1.5em;
}

/*section-c*/
#section-c {
    background:#ebebeb;
    color:#333;
    padding:2em;
}
/*section-d*/
#section-d {

}
#section-d .box {
    padding:2em;
}
#section-d .box:first-child {
    background:#007bff;
}
#section-d .box:nth-child(2){
    background: #ff4f1b;
    color:#333;
}
/*lábléc*/
#main-footer {
    padding:2em;
    background: #000;
    color:#fff;
    text-align: center;
}
#main-footer a{
    color:#007bff;
    text-decoration: none;
}

/*Media query*/
@media screen and (min-width: 680px){
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto,25em)) 1fr;
    }
    .content-wrap,
    #section-b ul {
        grid-column: 2/4;
    }
    #section-b ul {
        display:flex;
        justify-content: space-around;
    }

    #section-b li {
        width:30%;
    }
    .box,
    #main-footer div {
        grid-column: span 2;
    }
}