html {
    padding: 10px;
    background: orange;
}
body {
    background: #ff0;
    padding: 10px;
    margin: 0;
}

.container {
    background: lightblue;
    padding: 15px;
    margin: 10px;
    height:550px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

[class^="div-"] {/* dinamikus kiválasztó: https://www.w3schools.com/css/css_attribute_selectors.asp
                            ^="szoveg" -> kell legyen olyan class neve ami 'szoveg' -el kezdődik*/
    background: khaki;
    margin: 5px;
}
