/*stíluslap megadása külön fileban*/

html,
body { /*minireset, hogy az elemeinkre ne tartson margót a body és a html*/
    margin: 0;
    padding: 0;
}

header {
    background-color: deeppink;
    height: 100px; /*elem magassága*/
}

/*menü formázása 1.*/
nav {
    text-align: center;
}

ul { /*listák mini resetje*/
    padding: 0; /*listabehúzás nullázása*/
    list-style: none; /*nincs jelölő ikon*/
}

nav li {
    display: inline-block;
    padding: 5px;
    background: yellow;
}

nav a { /*minden nav tagen belüli <a> elemre hat*/
    text-decoration: none;
    color: orangered;
}

article {

}

footer {
    text-align: center; /*az elem tartalmának rendezése*/
}