html {
    padding: 10px;
    background: orange;
}
body {
    background: #ff0;
    padding: 10px;
    margin: 0;
}

.container {
    background: lightblue;
    padding: 15px;
    margin: 10px;
    height:550px;
}

[class^="div-"] {/* dinamikus kiválasztó: https://www.w3schools.com/css/css_attribute_selectors.asp
                            ^="szoveg" -> kell legyen olyan class neve ami 'szoveg' -el kezdődik*/
    background: khaki;
    margin: 5px;
}
.div-1 {

}
.div-2 {
    width: 180px;
}
.div-3 {
    height: 180px;
    font-size:35px
}
.div-4 {
    width: 180px;
    height: 180px;
}
.div-5 {
    width: 220px;
}
.div-6 {
    width: 160px;
}