@import 'minireset.css';/*másik stíluslap importálása - ez a tagjeinket reseteli*/
/*általános font*/
body {
    font-family: Roboto, Arial, sans-serif;
    color:#818181;
    font-size:14pt;
    line-height: 1.3em;
}
header.full-height {
    height:650px;/*@todo magasság mindig oldal magas kell legyen - hf*/
    background: lightblue url("../images/transparent-red-background-14.png") center bottom no-repeat;
   background-size: cover;
     /*background-color: lightblue;
    background-image: url("../images/hatter_2_1920.jpg");
    background-position: center bottom; (x és y tengelyek)
    background-repeat: no-repeat;ne ismételje*/
}
nav {
    /*background-color: pink;*/
}
section {
    /*background-color: yellow;*/
}
p {
    margin:15px auto;
}
/*wrapper az 1200 px tartására*/
.wrapper {
    /*background-color: lime;*/
    width:100%;
    margin:0 auto;/*block elem középre igazítása a hordozójában*/
}
ul.mainmenu {
    float: right;
}

.mainmenu li { /*headeren belüli navon belüli li elemek*/
    float: left;
    margin:25px 10px;
}
/*menüpontok*/
.mainmenu a, .mobilemenu a {
    font-family: Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    padding-bottom: 5px;
}
/*menu átlátszó állapot*/
.mobilemenu a:hover,
.mobilemenu .active a,
.mainmenu a:hover,
.mainmenu .active a {/*a szín változik hoveren és aktív állapoton*/
    color:#ffb32f !important;
}

.mainmenu .active a {/*aktív állapoton border is lesz*/
    border-bottom:solid #ffb32f 2px;
}
/*menu sticky állapot*/
.top.sticky {
    background: #fff !important;
}
.mobilemenu a,
.sticky .mainmenu a {/*sorrendben később jön ezért felülírja a fehéret - nem igazán szép megoldás*/
    color:#1e283c;
}
/*alap menu, nem main, mobil nézetre*/
.mobilemenu {
    position: absolute;
    z-index: 100;
    margin-top:70px;
    background:#fff;
    line-height:2em;
    width:100%;
}
.mobilemenu li {
    margin:7px 0;
    padding:0 15px;
}
.mobilemenu li.active {/*mert ezen a nézeten a vonalnak végig kell érnie*/
    border-bottom:solid #ffb32f 2px;
}
/*asztali nézet ux tuning hoveren*/
.mobilemenu li:hover {
    background: rgba(0,0,0,0.05);
}
/*lógó*/
.brand-logo {
    float: left;
    max-width: 135px; /*lógó méretezése a dobozán, ilyenkor a kép a max méretben jelenik meg amit a doboz enged*/
    /*max-height: 35px; a 2 max- közül a kisebbiket adó lesz érvényes*/
    padding:16px 0;
}

.holder.top {/*minden holder osztály, aminek top osztálya is van*/
    background: rgba(255,255,255,0.15);/*menu atlatszó teljes széles sávja*/
    height:70px;
    border-bottom: 1px solid white;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);/*x-offset y-offset size color*/
}
.holder.top {
    position: fixed ;
    top:0;/*pozíciót fixáljuk*/
    width:100%;
}
.full-height {/*a fixált menü miatt a menü alá csúszna bármilyen a dobozba helyezett tartalom*/
    padding-top:70px;
}
.hide {
    display:none;
}
.menu-toggle {/*kéz ikon*/
    cursor: pointer;
}
/*kis címek a h1-ek fölött*/
span.subheading {/*vonalak közti alcímek*/
    font-family:Arial,sans-serif;
    text-transform: lowercase;
    font-size:18pt;
    color:#ffb32f;
    font-weight: 700;
    display: block;
    margin:5px auto;
    text-align: center;
    /*background:lime;*/
}
span.subheading:before {
    position:relative;
    margin-right:15px;
    content:'--';
}
span.subheading:after {
    position:relative;
    content:'--';
    margin-left:15px;
}
.services {
    text-align: center;
}
.services section.box {
    margin:15px;
    padding:15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.65);
    text-align: center;
}
section.box header {
    overflow: hidden;
    height:45px;
    border-bottom: 1px solid #e1e1e1;
    /*hordozó doboz paddingjának 'kikapcsolása'*/
    margin-left:-15px;
    margin-right:-15px;
    /*belső padding visszaállítása*/
    padding-left:15px;
    padding-right:15px;
}

.box header .hiding-number {
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: #e1e1e1;
    float:right;
    position:relative;
    bottom:-18px;
    transition: all ease-in-out 500ms;
}
.box:hover header .hiding-number {/*a .box osztályú doboz fellett járva az egérrel kapcsol be a benne lévő elemre a szabály*/
    bottom:0;
}
/*ikonok*/
.ikon {
    font-size:65px;
    color:orange;
    margin:25px;
    transition: all ease-in-out 500ms;/*minden változtatás atvezetésének ideje (animáció)*/
}
.box:hover .ikon {
    transform: rotateY(180deg);/*y tengelyen 180 fokos forgatás (flip)*/
}
/*submenu level 1*/
.submenu {
    display: none;
    opacity: 0;
    position: absolute;
    background: #fff;
    /*border: 1px solid black;*/
    /*margin-top: 27px;  submenünél nem célszerű margóval pozícionálni*/
    padding: 27px 15px 15px;
    margin-left: -15px;
    transition: all 750ms ease-in-out;
}

.submenu li {
    margin: 7px 0;
    padding: 0;
    display: block;
    float: none;
}

/*egér föléhúzásra jelenjen meg a submenu*/
.mainmenu li:hover .submenu,
.mobilemenu li:hover .submenu {
    display: block;
    opacity: 1;
}

/*mobilemenu módosítás almenükre - desktophoz képest ^^^^*/
.mobilemenu .submenu {
    position: relative;
}
.clearFloat {
    display: block;
    float: none;
    clear: both;
    height: 0;
    width: 0;
    font-size: 0;
    content: '';
}

/*alapnézetünk mobil lesz*/
.desktop {/*desktop nézethez a menü láthatatlanná tétele*/
    display:none;
}
/*contactForm*/
.contactForm {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
}
.contactForm input,
.contactForm textarea{
    display:inline-block;
    width: 100%;
}
.contactForm label
{
    grid-column: 1/3;
}
.submit {
    align-self:start;
}
/*menü váltópont 960px re kell mert ott esik szét a jelenlegi menü*/
@media screen and (min-width:960px){
    .desktop {/*asztali menü nézet bekapcsolása*/
        display:block !important;/*!importanttal nem számít hogy media query előtt vagy mögött van a kikapcsolása*/
    }
    .mobilemenu,
    .menu-toggle {/*mobilmenü és hamburger ikon*/
        display:none;
    }
}

/*media query bemutatása*/
@media screen and (min-width:1200px){/*ezek a szabályok min 1200px széles kijelzőtől érvényesek */
    .wrapper {
        width:1200px;
    }
    .services section.box {
        width: calc(33.3% - 30px);
        float:left;
    }
    .contactForm label:nth-child(1)
    {
        grid-column: 1/2;
    }

    .contactForm label:nth-child(2) {
        grid-column: 2/3;
    }
}
